.update-user {
  width: 100%;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.btn-danger {
  padding: 24px 32px;
  font-size: 20px;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  background: #ec221f;
  color: #fff;
}
